@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
$bg-color: #073059;
@mixin GlassBg {
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
//App
.App {
  position: relative;
  background-color: #eeeeee;
  font-family: "Rubik", sans-serif;
}
.bgColor {
  top: 0;
  z-index: -100;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #dde6ed;
}
// headr part

li {
  list-style-type: none;
}
.header_contaner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 85%;
  margin: auto;
}
.headerBar {
  display: none;
}
.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include GlassBg();
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  color: #ffffff;
  width: 45%;
  height: 4rem;
}
.language {
  margin-left: 3rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  p {
    cursor: pointer;
    margin-bottom: 0.5rem;
  }
}
.english {
  color: #aeaeae;
}
.navbar {
  justify-content: start;
  @include GlassBg();
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  color: #ffffff;
  ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }
  li {
    margin-right: 0.2rem;
    cursor: pointer;
    padding: 0.8rem 0.7rem;
    width: 7rem;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
    &:hover {
      background-color: #96b6c5;
    }
  }
}
.logo {
  display: flex;
  justify-content: start;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.3rem;
  align-items: center;
  text-align: center;
  width: 30%;
  img {
    width: 100%;
  }
}
.footer__logo {
  width: 60%;
}
.popupnav {
  position: fixed;
  width: 100%;
  height: 100%;
  @include GlassBg();
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 0px;
  border: none;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  i {
    display: flex;
    justify-content: right;
    font-size: 2rem;
    padding: 2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    width: 50%;
    margin: 1rem auto;
  }
  li {
    padding: 1rem 0;
    margin: 1rem 0;
    font-size: 1.5rem;
    border: 2px solid #888888;
    border-radius: 5px;
  }
  .activebtn {
    border: none;
    border-radius: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
// fixed header
.fixed-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  @include GlassBg();
  border-radius: 0;
  .right-nav {
    display: none;
  }
  .navbar {
    margin: 0.5rem 50%;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: none;
    border: none;
    li {
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: 0.7rem 0;
    }
  }
  a {
    color: #ffffff;
  }
}
.after-scrolled {
  padding-top: 6.5rem;
  .slides-dotes {
    top: 8.5rem;
  }
}
// slider and main section
.slider {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.carousel-inner {
  border-radius: 5px;
}
.slideShow {
  width: 90%;
  margin: auto;
}
.activebtn {
  background-color: $bg-color;
  color: #dde6ed;
  &:hover {
    color: #ffffff;
  }
}
// news section
.news__title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 1rem;
  border-bottom: 1px solid black;

  div {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.4rem;
    p {
      margin-bottom: 0;
    }
    i {
      font-size: 1.5rem;
      margin-left: 0.4rem;
      margin-top: 0.4rem;
    }
  }
  button {
    width: 30%;
    //background-color: $bg-color;
    //color: #ffffff;
    border: 3px inset black;
    color: black;
    background: none;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    &:hover {
      background-color: #4e4e4e;
      color: #ffffff;
      border: 3px solid #4e4e4e;
    }
    i {
      margin-left: 0.2rem;
    }
  }
}
.news__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 2rem;
  gap: 5rem;
}
.news__card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.174);
  box-shadow: 0px 0px 50px -15px #27374d6c;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  background-color: #fdfdfd;
  text-align: center;
  img {
    width: 100%;
    padding: 0.2rem;
    border-radius: 10px;
  }
  button {
    width: 100%;
    border: none;
    background-color: $bg-color;
    color: #ffffff;
    padding: 0.7rem 0;
    font-size: 1.2rem;
    border-radius: 10px;
    &:hover {
      background-color: #27374d;
    }
  }
  &:hover {
    box-shadow: 0px 0px 50px -12px #27374d;
  }
}
.news_cardBtn {
  padding: 2rem 1.5rem;
  button {
    border-radius: 10px;
    i {
      margin-left: 0.5rem;
    }
  }
}
.news__info {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  height: 8rem;
  padding: 0.7rem;
  h5 {
    text-align: center;
  }
}
// footer
.Footer {
  @include GlassBg();
  background: rgba(0, 0, 0, 0.65);
  border-radius: 0;
  color: #ffffff;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer__info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  grid-column: 3/5;
  text-align: right;
}
.phone {
  margin: 1rem 0;
}
.footer__logo {
  text-align: right;
  display: flex;
  justify-content: right;
  width: 100%;
  a {
    display: flex;
    justify-content: right;
  }
  img {
    width: 80%;
    margin-top: 1rem;
  }
}
.footer-location {
  grid-column: 1/3;
  margin-right: 5rem;
  padding: 0.5rem;
  img {
    border-radius: 5px;
    width: 100%;
  }
}
// products

.Products {
  padding-bottom: 5rem;
  min-height: 90vh;
  .container {
    padding: 4rem 0;
  }
}
.products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding-top: 5rem;
  padding-right: 1rem;
}
.products__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.43);
  border-top: 2px solid rgba(0, 0, 0, 0.43);
  //background-color: #0c356a;
  //color: #ffffff;
  color: black;
}
// rep section
.represent {
  .container {
    padding: 5rem 0;
  }
}
.rep__carts {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  text-align: right;
}
.rep__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.265);
  padding: 1rem 0;
}
.repCart {
  border: 1px solid black;
  padding: 2rem;
}
.rep__phone {
  display: flex;
  flex-direction: row;
  padding-left: 5rem;
  padding-right: 2rem;
  justify-content: space-between;
  i {
    background-color: #27374d;
    color: #ffffff;
    cursor: pointer;
    padding: 0.6rem 0.7rem;
  }
}
.rep__info {
  margin: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.265);
  padding: 1rem 0;
}
// about section
.about-us {
  text-align: right;
  .container {
    padding: 5rem 0;
  }
}
.about__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 2rem;
  border-right: 2px dotted black;
  h4 {
    display: inline;
    margin-bottom: 2rem;
    padding: 1rem 0;
    border-bottom: 2px solid $bg-color;
  }
  p {
    margin-top: 4rem;
  }
  img {
    width: 90%;
    justify-content: right;
    padding: 1rem;
  }
}
.about-img-top {
  position: relative;
  .dotted {
    position: absolute;
    width: 25%;
    rotate: 90deg;
    bottom: -1.5rem;
    right: -1.45rem;
  }
}
.about_text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem 0;
  padding-right: 1rem;
  border-right: 2px dotted black;
  p {
    margin: 1rem 0;
    grid-column: 1/3;
  }
  img {
    grid-column: 3/5;
    width: 90%;
    margin-left: 3rem;
  }
}
.dot {
  position: absolute;
  display: inline;
  font-size: 4rem;
  color: #073059;
  user-select: none;
}
.Slides {
  position: relative;
}
.slides-dotes {
  width: 1.6%;
  position: absolute;
  right: 5.5rem;
  top: 0rem;
}
// ProductPage
.product-page {
  position: relative;
  .container {
    padding: 5rem 0;
  }
}
.productBackbtn {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 1rem;
  background-color: #073059;
  color: #ffffff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  top: 1rem;
  left: 10.5rem;
  cursor: pointer;
  i {
    margin-right: 0.3rem;
  }
  &:hover {
    background-color: #336da8;
  }
}
.product-page__top {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.product-img {
  grid-column: 1/5;
  display: flex;
  justify-content: center;
}
.product-dis {
  margin-top: 3rem;
  grid-column: 5/7;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: right;
  h2 {
    padding-bottom: 2rem;
  }
}
.detail-selecter {
  display: flex;
  flex-direction: row;
  background-color: #073059;
  color: #ffffff;
  justify-content: end;
  align-items: center;
  p {
    padding: 2rem;
    margin: 0;
    &:hover {
      background-color: #0c356a;
    }
  }
}
.product-moreInfo {
  margin: 2rem 0;
}
.album-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
  img {
    width: 100%;
    cursor: pointer;
  }
}
.album-img1 {
  grid-area: 1 / 1 / 9 / 4;
}
.album-img2 {
  grid-area: 1 / 4 / 5 / 7;
}
.album-img3 {
  grid-area: 5 / 4 / 9 / 9;
}
.album-img4 {
  grid-area: 1 / 7 / 5 / 9;
}
.productActive {
  background-color: #27374d;
}
// All News
.allNews {
  position: relative;
  .container {
    padding: 5rem 0;
  }
}
//NewsPage
.newsPage {
  position: relative;
  .container {
    padding: 5rem 0;
  }
}
.news-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.anotherNews {
  grid-column: 7/9;
}
.anotherNews {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  .news__card {
    margin-bottom: 1rem;
  }
}
.newsInfo {
  grid-column: 1/7;
  text-align: right;
  img {
    margin-bottom: 1rem;
  }
}
.newsInfo-details {
  h3 {
    padding: 1.5rem 0;
  }
}
// All news card
.allNews-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 0 1rem;
}
// Form
.Form {
  .container {
    padding: 5rem 0;
  }
}
.form-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.forms-right {
  grid-column: 7/9;
  text-align: center;
  li {
    padding: 2rem 0;
    margin: 1rem 1rem;
    background-color: #073059;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    &:hover {
      background-color: #27374d;
    }
    transition: 0.3s;
  }
}
.forms-left {
  grid-column: 1/7;
  border-right: 1px solid black;
  h3 {
    text-align: right;
    margin: 0.2rem 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px dotted black;
  }
  form {
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr;
    text-align: right;
    input {
      border: none;
      text-align: right;
      padding: 0.1rem 0.2rem;
    }
    label {
      margin-bottom: 0.3rem;
    }
  }
}
.form-activeBtn {
  border-radius: 20px !important;
}
.question {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  p {
    font-size: 1.2rem;
  }
}
.question-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  label {
    display: flex;
    justify-content: center;
    background-color: #27374d;
    width: 15%;
    margin-left: 1rem;
    padding: 0.7rem 0;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    input:checked {
      background-color: red;
    }
  }
  input {
    cursor: pointer;
    padding: 1rem;
    margin-right: 0.2rem;
    accent-color: rgb(0, 145, 255);
    border: none;
    box-shadow: none;
  }
  input:checked {
    & {
      background-color: red;
    }
  }
}
.tireSurvey-form {
  button {
    margin: auto;
    width: 80%;
    margin-top: 2rem;
    padding: 0.8rem;
    &:hover {
      background-color: #336da8;
    }
  }
}
//forms --- Sale form

.sform-names {
  display: grid;
  margin-bottom: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  div {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
  }
}
.sform-phone {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5rem;
  div {
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
  }
  .birthDate {
    display: flex;
    flex-direction: row;
    grid-column: 3/3;
  }
  .year,
  .month,
  .day {
    input {
      width: 100%;
    }
  }
  .phoneNumber {
    grid-column: 1/3;
    width: 50%;
    margin: auto;
  }
}
.sform-moredata {
  text-align: right;
}
.sform-moredata {
  width: 60%;
  margin-left: auto;
  margin-bottom: 1.5rem;
}
.sform-submitBtn {
  width: 20%;
  padding: 0.6rem 0;
  border: none;
  border-radius: 10px;
  background-color: #073059;
  color: #ffffff;
  margin-left: auto;
}
//Responsive and media queries
@media only screen and (max-width: 576px) {
  header {
    z-index: 1000;
  }
  .news__cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem 2rem;
    gap: 2rem;
  }
  .news__title {
    padding-bottom: 0.5rem;
    button {
      width: 80%;
      padding: 0.5rem 0.5rem;
      font-size: 0.8rem;
    }
  }
  .Slides {
    border-radius: 0px;
    .container {
      width: 100%;
    }
  }
  .slideShow {
    margin: 0;
    width: 100%;
  }
  .carousel-inner {
    border-radius: 0px;
  }
  .header_contaner {
    grid-template-columns: 1fr;
    width: 100%;
    @include GlassBg();
    border-radius: 0px;
  }
  .right-nav {
    margin: 0;
    width: 100%;
    border-radius: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: none;
    box-shadow: none;
    border: none;
    backdrop-filter: none;

    a {
      color: #ffffff;
    }
  }
  .language {
    margin: 0;
  }
  .logo {
    margin: 0;
    width: 100%;
    text-align: center;
    img {
      width: 70%;
    }
  }
  .navbar {
    display: none;
  }
  .headerBar {
    display: block;
    grid-column: 4/5;
    text-align: right;
    font-size: 2rem;
    padding-right: 0.5rem;
  }
  .fa-phone {
    font-size: 1.8rem;
    margin-right: 1rem;
  }
  .about__header {
    grid-template-columns: 1fr;
    border: none;
    padding: 0 1rem;
    img {
      width: 100%;
      margin: auto;
    }
  }
  .about-img-top {
    grid-row: 2/2;
    padding-top: 1rem;
    .dotted {
      bottom: -0.9rem;
      right: -0.9rem;
    }
  }
  .about_text {
    grid-template-columns: 1fr;
    border: none;
    padding: 1rem 1rem;
    p {
      margin: 1rem 0;
      grid-column: 1/1;
    }
    img {
      grid-column: 1/1;
      width: 90%;
      margin-left: 3rem;
    }
  }
  .about_secendImg {
    display: none;
  }
  .about-us {
    width: 95%;
    margin: auto;
  }
  .allNews-container {
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
  }
  .news__title {
    button {
      width: 85%;
    }
    div {
      font-size: 1.2rem;
    }
  }
  .header_contaner {
    padding: 0.8rem 0;
  }
  .products__items {
    grid-template-columns: 1fr;
    padding: 3rem 2rem;
    gap: 2rem;
  }
  .rep__carts {
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
  }
  .fixed-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    @include GlassBg();
    border-radius: 0;
    .right-nav {
      display: grid;
      width: 100%;
    }
    .navbar {
      display: none;
    }
  }
  .footer__container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer__info {
    display: flex;
    justify-content: center;
  }
  .footer-location {
    display: flex;
    justify-content: center;
    margin: 0;
    grid-column: 3/5;
    grid-row: 3/3;
  }
  .footer__logo {
    display: none;
  }
  .news-container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
  .newsInfo {
    grid-column: 1/1;
    grid-row: 1/1;
    text-align: right;
    img {
      width: 100%;
    }
  }
  .anotherNews {
    grid-column: 1/1;
    grid-row: 2/2;
    margin: 2rem;
    padding-top: 2rem;
  }
  .productBackbtn {
    top: 1.5rem;
    left: 1rem;
  }
}
@media only screen and (max-width: 335px) {
  .right-nav {
    grid-template-columns: repeat(3, 1fr);
  }
}
